.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #F5F5DC;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: rgb(223, 44, 218);
}

p {
  font-size: 2rem;
  color: rgb(223, 44, 218);
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: rgb(19, 53, 101);
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
